[Unit]
Description=Set hdparm spin-down time to 2 minutes

[Service]
Type=oneshot
ExecStart=/sbin/hdparm -S 120 /dev/sd*

[Install]
WantedBy=multi-user.target
