{
	email {{ caddy_acme_mail }}
	acme_dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	order wake_on_lan before respond
	servers {
    	trusted_proxies cloudflare {
            interval 12h
            timeout 15s
        }
    }
}



cloud.{{ domain_public }} {
	reverse_proxy 192.168.178.24:8080
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:8080 {
				lb_try_duration 60s
			}
		}
	}
}

crg.{{ domain_public }} {
	reverse_proxy 192.168.178.24:5100
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:5100 {
				lb_try_duration 60s
			}
		}
	}
}

# local

dd.{{ domain_local }} {
	reverse_proxy 192.168.178.24:3001 # TEMP
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:3001 {
				# TEMP
				lb_try_duration 60s
			}
		}
	}
}

fin.{{ domain_local }} {
	reverse_proxy 192.168.178.24:8096
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:8096 {
				lb_try_duration 60s
			}
		}
	}
}

imch.{{ domain_local }} {
	reverse_proxy 192.168.178.24:2283
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:2283 {
				lb_try_duration 60s
			}
		}
	}
}

sync.{{ domain_local }} {
	reverse_proxy 192.168.178.24:8384
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:8384 {
				lb_try_duration 60s
			}
		}
	}
}

trans.{{ domain_local }} {
	reverse_proxy 192.168.178.24:9191
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:9191 {
				lb_try_duration 60s
			}
		}
	}
}

srr.{{ domain_local }} {
	reverse_proxy 192.168.178.24:9130
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:9130 {
				lb_try_duration 60s
			}
		}
	}
}

rrr.{{ domain_local }} {
	reverse_proxy 192.168.178.24:9140
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:9140 {
				lb_try_duration 60s
			}
		}
	}
}

prr.{{ domain_local }} {
	reverse_proxy 192.168.178.24:9696
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:9696 {
				lb_try_duration 60s
			}
		}
	}
}

piped.{{ domain_local }}, pipedapi.{{ domain_local }}, pipedproxy.{{ domain_local }} {
	uri replace "&ump=1" ""
	reverse_proxy 192.168.178.24:8081
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
	handle_errors {
		@502 expression {err.status_code} == 502
		handle @502 {
			wake_on_lan 88:88:88:88:87:88 # 192.168.178.24:9
			reverse_proxy 192.168.178.24:8081 {
				lb_try_duration 60s
			}
		}
	}
}

auth.{{ domain_public }} {
	reverse_proxy 192.168.178.20:9091 {
        header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
        header_up X-Forwarded-Host {http.request.header.X-Forwarded-Host}
        header_up X-Forwarded-URI {http.request.header.X-Forwarded-URI}
        header_up X-Forwarded-For {http.request.header.X-Forwarded-For}
        header_up X-Forwarded-Method {http.request.header.X-Forwarded-Method}
        header_up X-Original-URL {scheme}://{host}{uri}
	}
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}

dash.{{ domain_local }} { # beszel
	reverse_proxy 192.168.178.20:8090
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}

hrr.{{ domain_local }} {
	reverse_proxy 192.168.178.20:7575
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
}

hoas.{{ domain_local }} {
	reverse_proxy 192.168.178.20:8123
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
	forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
}

lldap.{{ domain_local }} {
	reverse_proxy 192.168.178.20:17170
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}
